@import "./global/global.css";
@import "./utilidades/tipopgrafia.css";
@import "./global/header.css";

/* UTILIDADES */
@import "./utilidades/componentes.css";

/* HOME */
@import "./home/intro.css";


/* ESPECIALIDADES */
@import "./especialidades/especialidades-lista.css";

/* NOSSO ESPAÇO SLIDER */
@import "./nosso-espaco/slider.css";

/* LOCALIZAÇÃO */
@import "./localizacao/localizacao.css";

/* AGENDAMENTO */
@import "./agende-consulta/agende.css";