.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font: 600 1rem/1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
}
.form input[type="text"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: #f7f7f7;
  border: 1px solid #ededed;
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}
.form input[type="text"]:focus,
.form textarea:focus {
  outline: none;
  border-color: #28b7ba;
  background: #fff;
  box-shadow: 0 0 0 1px #2bb;
}
.col-2 {
  grid-column: span 2;
}
@media (max-width: 1400px) {
  .form button {
    font-size: 16px;
    padding: 18px 12px;
  }
}
@media (max-width: 600px) {
  .form button {
    font-size: 12px;
    padding: 14px 10px;
  }
}
